

<form asp-action="Login" method="post" >
    <label for="username">帳號：</label>
    <input type="text" id="username" name="username" required>

    <label for="password">密碼：</label>
    <input type="password" id="password" name="password" required>

    <input type="submit" value="提交">
</form>



<a>>歡迎 :  @ViewBag.username</a

