@model MvcProgram.Models.Product




<h2>商品列表</h2>

<ul>
<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.price)</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>@Html.DisplayFor(modelItem => Model.Name)</td>
                <td>@Html.DisplayFor(modelItem => Model.price) 元</td>
            </tr>
            <tr><Form asp-action="delete" method="POST">
                <input type="hidden" asp-for= "Name" />
                <input type ="submit" value="刪除">
            </Form></tr>
    </tbody>
</table>
</ul>